# API Configuration
# URL untuk backend API Laravel
# Untuk development: http://localhost:8000
# Untuk production: https://isme.fkkumj.ac.id
VITE_API_URL=http://localhost:8000

# Environment
# development | production
NODE_ENV=development
